<mat-slider min="1" max="100" step="1" value="50"></mat-slider>


  <h1>Password Generator</h1>

<div>
  <label>Enter Length</label>
  <!--<input type="text" (input)="onChangeLength=$any($event).target.value">-->
  <input type="text" (input)="onChangeLength=$any($event).target.value" id="l">
  
</div>

<div>
  <label>Use Letters</label>
  <input (change)="onChangeUseLetters()" type="checkbox" />
</div>

<div>
  <label>Use Numbers</label>
  <input (change)="onChangeUseNumbers()" type="checkbox" />
</div>

<div>
  <label>Use Symbols</label>
  <input (change)="onChangeUseSymbols()" type="checkbox" />
</div>

<div>
  <button (click)="onButtonClick()">Generate!</button>
</div>

<div>
  <label>Your Password</label>
  <textarea name="" id="" cols="30" rows="10" [value]="password"></textarea>
</div>

